<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="arm-v2">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="2.3661E-18 -3.6362E-18 -0.019937"
        rpy="0 0 0" />
      <mass
        value="0.067122" />
      <inertia
        ixx="4.1725E-05"
        ixy="-7.2378E-22"
        ixz="1.0274E-21"
        iyy="4.1725E-05"
        iyz="5.9885E-21"
        izz="4.5278E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89412 0.89412 0.89412 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="rotary-joint">
    <inertial>
      <origin
        xyz="0.0014279 0.0008236 0.038018"
        rpy="0 0 0" />
      <mass
        value="0.11473" />
      <inertia
        ixx="0.00011561"
        ixy="1.4842E-06"
        ixz="-2.4545E-06"
        iyy="0.00011389"
        iyz="-1.4158E-06"
        izz="7.9819E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/rotary-joint.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89412 0.89412 0.89412 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/rotary-joint.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="base-rotary"
    type="revolute">
    <origin
      xyz="0 0 0.012"
      rpy="0 0 -3.1416" />
    <parent
      link="base_link" />
    <child
      link="rotary-joint" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="shoulder-joint">
    <inertial>
      <origin
        xyz="-0.057192 0.064325 0.010049"
        rpy="0 0 0" />
      <mass
        value="0.16216" />
      <inertia
        ixx="0.00029011"
        ixy="0.00019077"
        ixz="3.1107E-05"
        iyy="0.00024562"
        iyz="-3.4944E-05"
        izz="0.00047777" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/shoulder-joint.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89412 0.89412 0.89412 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/shoulder-joint.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="shoulder"
    type="revolute">
    <origin
      xyz="0.031972 0.018624 0.052745"
      rpy="1.5708 0 2.094" />
    <parent
      link="rotary-joint" />
    <child
      link="shoulder-joint" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="elbow-joint">
    <inertial>
      <origin
        xyz="0.023437 -0.082514 0.010049"
        rpy="0 0 0" />
      <mass
        value="0.16216" />
      <inertia
        ixx="0.00043125"
        ixy="0.00010096"
        ixz="-1.2783E-05"
        iyy="0.00010448"
        iyz="4.5004E-05"
        izz="0.00047777" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/elbow-joint.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89412 0.89412 0.89412 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/elbow-joint.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="elbow"
    type="revolute">
    <origin
      xyz="-0.08992 0.10109 -0.014"
      rpy="-3.1416 0 0" />
    <parent
      link="shoulder-joint" />
    <child
      link="elbow-joint" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>